button {
    margin: 5px;
    width: 115px;
    border-radius: 10px;
    border: skyblue solid 1px;
    background-color: rgb(4, 97, 237);
    color: white;
    padding: 5px;
    height: 50px;
}

button:hover, #hint-button:hover {
    cursor: pointer;
}

#holder-div {
    padding: 20px;
}

small {
    margin: 5px;
    font-size: 20px;
}

#word-box {
    margin: 5px;
    font-size: 50px;
    font-family: tahoma;
}

body {
    background-color: gainsboro;
}

button:disabled {
    opacity: 70%;
    cursor: not-allowed;
}

.disabled-red {
    opacity: 70%;
    border: rgba(246, 70, 70, 0.88) solid 1px;
    background-color: rgb(255, 0, 0);
}

img {
    border: 10px solid black;
    width: 32vw;
    height: 18vw;
}

h1 {
    font-size: 50px;
}

#hint-div {
    font-family: impact;
    font-size: 30px;
}

#hint-button {
    border-radius: 20px;
    width: 100px;
    background-color: skyblue;
    padding: 20px;
    color: blue;
    font-family: tahoma;
    font-size: 25px;
}
